

// $primary: purple;
// This is the place to override Bulma settings


@import "../node_modules/bulma/bulma.sass";

.logo-font{
    font-family: "Fugaz One";
    // font-family: "Poiret One";
    // color: purple !important;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
   
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#myVideo-desktop {
  width: 70%;
  height: auto;
}

#myVideo-mobile {
  width: 90%;
  height: auto;
}
// .video-cropper{
//   // width: 200px;
//   overflow:hidden;
//   display:block;
//   height: 360px;
// }

p.vignette {
  position: relative;
}

p.vignette video {
  display: block;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:6%;

}

p.vignette:after {
//  -moz-box-shadow: inset 0 0 180px white;
//  -webkit-box-shadow: inset 0 0 180px white;
 box-shadow:  0 0 30px 30px white inset;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 content: "";
}






.logo-font-poiret{
  // font-family: "Fugaz One";
  font-family: "Poiret One";
  // color: purple !important;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, $success-light 50%);
    font-weight: bold;
  }


// .scrollable-table tbody {
//     height: 20vh;
//     display: block;
//     overflow-y: scroll;
//     width: 100%;
// }

// .scrollable-table thead,
// tbody tr {
//     display: table;
//     width: 100%;
//     table-layout: fixed;
// }

// .offline-cell {
//     background-color: LightGrey;
//     color: grey;
//     font-style: italic;
// }

@import "./blockquote_coffee.scss";

@import "../node_modules/animate.css/animate.css";